::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb {
    background: #333; border-radius: 10px; border: 2px solid #121212;
}
::-webkit-scrollbar-track { background: transparent; }
.glass-effect {
    background: rgba(18, 18, 18, 0.85);
    backdrop-filter: blur(16px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.mini-sidebar #sidebar-content {
    width: 88px !important;
}
.mini-sidebar .sidebar-text {
    display: none;
    opacity: 0;
}
.mini-sidebar .nav-item {
    justify-content: center;
    padding: 0;
    width: 48px;
    margin: 0 auto;
    border-radius: 16px;
}
.mini-sidebar .nav-item i {
    margin: 0 !important;
}

.mini-sidebar .sidebar-section-title {
    display: none;
}